:root {
	--gray: #d9e3f0;
	--white: #FFFFFF;
	--black: #000000;
	--darkGray: #2F2F2F;
	--buttonGray: #E9E9E9;
	--lightGray: #AFAFAF;
	--medGray: #666666;
	--linkBlue: #2000FF;
	--lightBlue: #44BBFF;
	--shadowGray: #8F8F8F;
	--darkBlue: #2c78a3;
	--medBlue: #5396bd;
	--activeBlue: #336e8f;
	--hoverGray: #dddddd;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0px;
	background: var(--bg);
	color: var(--fontColor);
	font-family: monospace;
}

.topnav {
	background-color: var(--toneBg);
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: var(--fontColor);
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a:hover {
	background-color: var(--hoverColor);
	color: var(--fontColor);
}

.topnav a.active {
	background-color: var(--activeColor);
	color: white;
}

.topnav .icon {
	display: none;
}

.header {
	text-align: center;
}

.PinyinFlashcardsLink {
	position: relative;
	top: 20px;
	left: 50px;
	font-size: 18pt;
}

.light-theme {
	--bg: var(--gray);
	--fontColor: var(--black);
	--btnBg: var(--black);
	--btnFontColor: var(--white);
	--toneBg: var(--lightGray);
	--toneBorder: var(--darkGray);
	--linkColor: var(--darkBlue);
	--fieldColor: var(--white);
	--buttonColor: var(--buttonGray);
	--shadowColor: var(--shadowGray);
	--activeColor: var(--activeBlue);
	--hoverColor: var(--hoverGray);
}

.dark-theme {
	--bg: var(--black);
	--fontColor: var(--gray);
	--btnBg: var(--white);
	--btnFontColor: var(--black);
	--toneBg: var(--darkGray);
	--toneBorder: var(--medGray);
	--linkColor: var(--medBlue);
	--fieldColor: var(--gray);
	--buttonColor: var(--lightGray);
	--shadowColor: var(--darkGray);
	--activeColor: var(--activeBlue);
	--hoverColor: var(--hoverGray);
}

#light-or-dark {
	position: absolute;
	top: 56px;
	right: 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: none;
	color: var(--btnFontColor);
	background-color: var(--btnBg);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}